mat-toolbar {
    background: linear-gradient(to right, #552d91, #f5a623);
    color: white;
    padding: 0 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  mat-toolbar span {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    padding: 8px 16px;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  mat-toolbar nav a.active {
    background-color: #f5a623;
    border-radius: 5px;
    color: black;
  }
  
  mat-toolbar nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  mat-toolbar button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  mat-toolbar button:hover {
    background-color: white;
    color: #552d91;
  }
  
  mat-toolbar nav a, mat-toolbar button {
    transition: all 0.3s ease;
  }

  ul {
    display: flex;
  }

  li {
    list-style-type: none;
  }
  
  @media (max-width: 600px) {
    mat-toolbar {
      flex-direction: column;
      text-align: center;
    }
  
    mat-toolbar nav {
      width: 100%;
    }
  
    mat-toolbar nav a {
      margin: 8px 0;
      display: block;
    }
  
    mat-toolbar button {
      width: 100%;
      margin-top: 10px;
    }
  }
  